a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

img { max-width: 100%; height: auto; display: block;} body, h1, h2, h3, h4, h5, h6, p, ol, ul { margin: 0; padding: 0; font-weight: normal;} ol, ul {list-style: none;} a {text-decoration: none;}

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Montserrat&display=swap');

/* General Styles */

html {
    font-size: 125%; /* 20px */
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1,
button,
.buttonStyle,
.windowB .gameDetails p:nth-child(2) {
    font-family: 'Carter One', cursive;
}

.App {
    background-color: #edfeff;
}

.wrapper {
    width: 85%;
    max-width: 1400px;
    margin: 0 auto;
}

h1 {
    padding: 40px 0;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 3px 3px 0px #ffff00;
    text-transform: uppercase;
    color: #142b68;
}

h2 {
    margin: 10px 0;
}

button,
.buttonStyle {
    color: #142b68;
    background-color: #ffff00;
    border-radius: 12px;
    border: #142b68;
    font-size: 1.2rem;
    margin: 20px auto;
    padding: 5px 10px;
    display: block;
    box-shadow: 5px 5px 5px #142b68;

}

button:hover,
button:focus,
.buttonStyle:hover,
.buttonStyle:focus {
    transform: scale(1.1);
    transition: 0.3s;
}

/* Home Page Styles  */

.windowA .instructionSection {
    font-size: calc(0.8rem + 1vw);
} 

.windowA .specialTextContainer h2 {
    font-size: calc(1.8rem + 1vw);
    
}

.windowA img {
    min-width: 200px;
    min-height: 200px;
}

.windowA .instructionSection li {
    line-height: 2rem;
    color: #edfeff;
}

.windowA .instructionSection {
    border: #edfeff double 1rem;
    border-radius: 12px;
    padding: 20px 30px;
    background-color: #142b68;
    display: flex;
}

.windowA .pokeBallImage {
    margin: 0 10px;
    align-self: center;
}

/* BattleScreen Styles */

.windowB h1 {
    padding: 40px 0;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 3px 3px 0px #ffff00;
    text-transform: uppercase;
    color: #142b68;
}

.windowB button {
    display: inline-block;
    margin: 15px;
}

.windowB .notificationsContainer {
    /* border: double 0.4rem #142b68; */
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.windowB .gameContainer {
    text-align: center;
}

.windowB .pokemonOneContainer,
.windowB .pokemonTwoContainer {
    display: flex;
    text-transform: capitalize;
    flex-wrap: wrap;
    margin: 50px 0;
}

.windowB .pokemonImgContainer {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.windowB .pokemonImgContainer img {
    width: 295px;
    background-color: #ffff00;
    margin: 0 auto;
    border-radius: 50%;
}

.windowB .gameDetails {
    text-align: center;
    background-color: #142b68;
    padding: 20px 60px;
    border-radius: 15px;
    color: #ffff00;
    width: 500px;
    border: double 1rem #edfeff;
    margin: 0 auto;
}

.windowB .pokemonCards {
    display: flex;
    justify-content: center;
}

.windowB .card {
    width: 100px;
    margin: 15px;
    box-shadow: 7px 7px 0px #ffff00; 
}

.windowB h3 {
    font-size: 1.2rem;
}

.windowB .gameDetails p:nth-child(2) {
    padding: 10px 0;
    font-size: 1.5rem;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

/* Winner Page Styles */
.windowC {
    height: 100vh;
}

.windowC .winnerContainer {
    border: double 1rem #142b68;
    border-radius: 12px;
    padding: 20px; 
    text-align: center;
    font-size: 1.5rem;
    margin: 20px 0;
}

.windowC .winnerImageContainer img {
    margin: 0 auto;
}

.windowC img {
    width: 300px;
}

.windowC .buttonStyle {
    display: inline-block;
    padding: 10px 15px;
}

.windowC span {
    text-transform: capitalize;
}


/* Footer Styles  */
footer {
    background: #142b68;
    color: #edfeff;
    padding: 15px 0;
    text-align: center;
    margin-top: 50px;
}

footer p {
    font-size: 1rem;
}

/* Media Queries  */

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    .windowA .instructionSection {
        flex-direction: column;
    }
    .pokeBallImage {
        width: 300px;
    }
}

@media (max-width: 650px) {
    .windowA .specialText {
        font-size: calc(1.8rem + 0.5vw);
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .windowC .specialText {
        font-size: calc(1.5rem + 1vw);
        height: 40px;
    }
}